<component name="libraryTable">
  <library name="mybatis">
    <CLASSES>
      <root url="file://D:/架包/mybatis" />
      <root url="file://D:/架包/poi" />
      <root url="file://D:/架包/shiro" />
      <root url="file://D:/架包/ssm" />
    </CLASSES>
    <JAVADOC>
      <root url="file://D:/架包/log4j-1.2.17/apache-log4j-1.2.17/site/apidocs" />
    </JAVADOC>
    <SOURCES>
      <root url="file://D:/架包/log4j-1.2.17/apache-log4j-1.2.17" />
      <root url="file://D:/架包/log4j-1.2.17/apache-log4j-1.2.17/contribs/CekiGulcu" />
      <root url="file://D:/架包/log4j-1.2.17/apache-log4j-1.2.17/contribs/Jamie Tsao" />
      <root url="file://D:/架包/log4j-1.2.17/apache-log4j-1.2.17/contribs/JimMoore" />
      <root url="file://D:/架包/log4j-1.2.17/apache-log4j-1.2.17/contribs/ThomasFenner" />
      <root url="file://D:/架包/log4j-1.2.17/apache-log4j-1.2.17/src/main/java" />
      <root url="file://D:/架包/log4j-1.2.17/apache-log4j-1.2.17/src/main/javadoc" />
      <root url="file://D:/架包/log4j-1.2.17/apache-log4j-1.2.17/src/performance/java" />
      <root url="file://D:/架包/log4j-1.2.17/apache-log4j-1.2.17/tests/src/java" />
      <root url="file://D:/架包/mysql-connector-java-5.1.41/mysql-connector-java-5.1.41/src" />
    </SOURCES>
    <jarDirectory url="file://D:/架包/mybatis" recursive="false" />
    <jarDirectory url="file://D:/架包/poi" recursive="false" />
    <jarDirectory url="file://D:/架包/shiro" recursive="false" />
    <jarDirectory url="file://D:/架包/ssm" recursive="false" />
  </library>
</component>